Click==7.0
Flask==1.0.2
Flask-Cors==3.0.7
gekko==0.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
numpy==1.15.4
pandas==0.23.4
PuLP==1.6.9
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
six==1.11.0
Werkzeug==0.15.3
xlrd==1.1.0
XlsxWriter==1.1.2
